<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lr.blog.article.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.lr.blog.article.model.DO.ArticleDO">
        <id column="aid" property="aid" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="slug" property="slug" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="author_id" property="authorId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
        <result column="categories" property="categories" jdbcType="VARCHAR"/>
        <result column="hits" property="hits" jdbcType="INTEGER"/>
        <result column="comments_num" property="commentsNum" jdbcType="INTEGER"/>
        <result column="allow_comment" property="allowComment" jdbcType="BIT"/>
        <result column="allow_ping" property="allowPing" jdbcType="BIT"/>
        <result column="allow_feed" property="allowFeed" jdbcType="BIT"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.lr.blog.article.model.VO.ArticleHomeVO" >
        <id column="aid" property="articleId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="excerpt" property="excerpt" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    aid, title, slug,content,create_time, modify_time, author_id, type, status, tags, categories, hits,
    comments_num, allow_comment, allow_ping, allow_feed
    </sql>
    <sql id="Blob_Column_List">
    content
    </sql>
    <sql id="Base_Condition">
        where
        1=1
        <if test="type != null" >
            and t.type = #{type,jdbcType=INTEGER}
        </if>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_articles
        where aid = #{aid,jdbcType=INTEGER}
    </select>

    <select id="getByPage" resultMap="ResultMapWithBLOBs" parameterType="com.lr.blog.article.model.VO.query.ArtiPageVo">
        select
        aid,content excerpt,create_time,title
        from t_articles
        where
        1=1
        order by aid desc
    </select>
    <!--<select id="getByPage" resultMap="ResultMapWithBLOBs" parameterType="com.lr.common.base.PageVO">-->
        <!--select-->
        <!--aid, title, create_time, modify_time,  type,  hits-->
        <!--from t_articles t-->
        <!--where-->
        <!--1=1-->
        <!--and t.type = #{type,jdbcType=INTEGER}-->
    <!--</select>-->


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_articles
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lr.blog.article.model.DO.ArticleDO" useGeneratedKeys="true" keyProperty="aid">
    insert into t_articles (aid, title, slug,
      create_time, modify_time, author_id,
      type, status, tags,
      categories, hits, comments_num,
      allow_comment, allow_ping, allow_feed,
      content)
    values (#{aid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR},
      #{createTime,jdbcType=INTEGER}, #{modifyTime,jdbcType=INTEGER}, #{authorId,jdbcType=INTEGER},
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR},
      #{categories,jdbcType=VARCHAR}, #{hits,jdbcType=INTEGER}, #{commentsNum,jdbcType=INTEGER},
      #{allowComment,jdbcType=BIT}, #{allowPing,jdbcType=BIT}, #{allowFeed,jdbcType=BIT},
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.lr.blog.article.model.DO.ArticleDO" useGeneratedKeys="true"
            keyProperty="aid">
        insert into t_articles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aid != null">
                aid,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="slug != null">
                slug,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="authorId != null">
                author_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="categories != null">
                categories,
            </if>
            <if test="hits != null">
                hits,
            </if>
            <if test="commentsNum != null">
                comments_num,
            </if>
            <if test="allowComment != null">
                allow_comment,
            </if>
            <if test="allowPing != null">
                allow_ping,
            </if>
            <if test="allowFeed != null">
                allow_feed,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aid != null">
                #{aid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                #{slug,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="categories != null">
                #{categories,jdbcType=VARCHAR},
            </if>
            <if test="hits != null">
                #{hits,jdbcType=INTEGER},
            </if>
            <if test="commentsNum != null">
                #{commentsNum,jdbcType=INTEGER},
            </if>
            <if test="allowComment != null">
                #{allowComment,jdbcType=BIT},
            </if>
            <if test="allowPing != null">
                #{allowPing,jdbcType=BIT},
            </if>
            <if test="allowFeed != null">
                #{allowFeed,jdbcType=BIT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lr.blog.article.model.DO.ArticleDO">
        update t_articles
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="categories != null">
                categories = #{categories,jdbcType=VARCHAR},
            </if>
            <if test="hits != null">
                hits = #{hits,jdbcType=INTEGER},
            </if>
            <if test="commentsNum != null">
                comments_num = #{commentsNum,jdbcType=INTEGER},
            </if>
            <if test="allowComment != null">
                allow_comment = #{allowComment,jdbcType=BIT},
            </if>
            <if test="allowPing != null">
                allow_ping = #{allowPing,jdbcType=BIT},
            </if>
            <if test="allowFeed != null">
                allow_feed = #{allowFeed,jdbcType=BIT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where aid = #{aid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lr.blog.article.model.DO.ArticleDO">
    update t_articles
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      categories = #{categories,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      comments_num = #{commentsNum,jdbcType=INTEGER},
      allow_comment = #{allowComment,jdbcType=BIT},
      allow_ping = #{allowPing,jdbcType=BIT},
      allow_feed = #{allowFeed,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.lr.blog.article.model.DO.ArticleDO">
    update t_articles
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      categories = #{categories,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      comments_num = #{commentsNum,jdbcType=INTEGER},
      allow_comment = #{allowComment,jdbcType=BIT},
      allow_ping = #{allowPing,jdbcType=BIT},
      allow_feed = #{allowFeed,jdbcType=BIT}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>
